.o-section-header
    height: 40vh
    margin-top: 170px
    &__img
        height: 40vh
        background-attachment: fixed

.o-section-navbar
    width: 100%
    height: auto
    display: flex
    align-items: center
    justify-content: center
.o-section-navbar__link
    font-size: 20px
    font-weight: bold

.list-style-none
    list-style: none