/* ======================== WELCOME.SASS ==========================*/

/* ------------------ Welcome Tablets and Up -------------------- */
.welcome-title-section
    height: 89vh
    @media screen and (min-width: 576px)
        height: 47vh
    &__img 
        height: 100%
    &__h1
        text-align: center
        color: #ffffff
        font-weight: bold

.section-view
    height: 40vh
    @media screen and (min-width: 576px)
            height: 23vh
    &__img
        height: 100%
    &__mask
        height: 40vh
        @media screen and (min-width: 576px)
            height: 23vh

/* ------------------ Welcome Smartphone -------------------- */

.welcome
    padding-top: 78px
    @media screen and (min-width: 576px)
        padding-top: 126px

.welcome__title, .welcome__view, .welcome__mask
    width: 100%
    height: 90vh

.welcome__buttons
    width: 40%
    margin: auto
    @media screen and (min-width: 576px)
        width: 60%

.welcome-img
    width: 100%
    height: 90vh

/* ======================== END WELCOME.SASS ==========================*/
    

