/*===================== ELEMENTS =====================*/

body
    background-color: $s-body-background-color
    // font-family: 'Lato', sans-serif
    // font-family: 'Titillium Web', sans-serif
    position: relative
    max-width: 100vw
    overflow-x: hidden

main 
    width: $e-main-width
    margin: $e-main-margin-top auto
    background-color: $e-main-background-color
    overflow-x: hidden
    @media screen and ( min-width: 576px)
        max-width: $e-main-width-sm
        margin: $e-main-margin-top-sm auto
    @media screen and ( min-width: 768px)
        max-width: $e-main-width-md
        margin: $e-main-margin-top-md auto
    @media screen and ( min-width: 1024px)
        max-width: $e-main-width-lg
        margin: $e-main-margin-top-lg auto
    @media screen and ( min-width: 1240px)
        max-width: $e-main-width-xl
        margin: $e-main-margin-top-xl auto

img 
    width: 100%
    height: 100%
    object-fit: cover


/* Formulario */
    
label 
    color: #ffffff
    padding: 30px 0 10px 0
    font-weight: bold
input, textarea 
    background-color: 
    color: $s-color-theme-primary
    border-left: 3px solid $s-color-theme-primary
    border-bottom: 3px solid $s-color-theme-primary
    font-size: 1.2rem
    text-decoration: none
input:focus, textarea:focus
    border-bottom: 3px solid $s-color-theme-tertiary
    border-left: 3px solid $s-color-theme-tertiary
textarea 
    min-height: 300px
    max-height: 300px
