/* ======================== WELCOME.SASS ==========================*/

/* ------------------ Welcome Tablets and Up -------------------- */
.welcome
    height: auto
    background-color: #000000
    &__title
        color: #ffffff

.section

    &-welcome
        width: 100%
        height: 56vh
        cursor: pointer
        &__img
            width: 100%
            height: 56vh

    &-mask
        display: flex 
        flex-direction: column 
        justify-content: center
        align-items: center
        padding: 1.5rem
        &__title
            color: #ffffff

    &-about
        @include t-welcome-sections-mixin

    &-services
        @include t-welcome-sections-mixin
        
    &-portafolio
        @include t-welcome-sections-mixin

    &-blog
        @include t-welcome-sections-mixin

    &-contacto
        @include t-welcome-sections-mixin

/* ------------------ Welcome Smartphone -------------------- */

.welcome
    padding-top: 78px
    @media screen and (min-width: 576px)
        padding-top: 126px

.welcome__title, .welcome__view, .welcome__mask
    width: 100%
    height: 90vh

.welcome__buttons
    width: 40%
    margin: auto
    @media screen and (min-width: 576px)
        width: 60%

.welcome-img
    width: 100%
    height: 90vh

/* ======================== END WELCOME.SASS ==========================*/
    

