// THEME COLORS
$s-color-theme-primary: #0F4480
$s-color-theme-secondary: #0277bd
$s-color-theme-tertiary: #fff800

//============================= BODY  ============================//

$s-body-background-color: #333

//============================= MAIN  ============================//

$e-main-margin-top: 0
$e-main-max-width: 80%

//main colors
$e-main-background-color: transparent

//============================= NAVBAR  ============================//

// navbar
$navbar-background-color : #041325
$navbar-nav-background-color: transparent
$nav-toggler-color : #fff800
$nav-link-color : #ffffff
$navbar-social-icons-color: #fff800

// navbar (smartphone)
$navbar-height: auto
$navbar-padding: 20px
$navbar-nav-height: 86vh
$nav-link-font-size: 20px
$nav-link-width: 100%
$nav-link-padding: 20px 0
$nav-link-margin: auto

$navbar-social-icons-font-size: 30px
$navbar-social-icons-color: #ffffff

//navbar small
$navbar-height-sm: auto
$navbar-padding-sm: 20px
$navbar-nav-height-sm: 86vh
$nav-link-font-size-sm: 20px
$nav-link-width-sm: 100%
$nav-link-padding-sm: 30px 0
$nav-link-margin-sm: auto 

$navbar-social-icons-font-size-sm: 20px
$navbar-social-icons-color-sm: #ffffff

//navbar md (tablets)
$navbar-height-md: auto
$navbar-padding-md: 20px
$navbar-nav-height-md: auto
$nav-link-font-size-md: 20px
$nav-link-width-md: 100%
$nav-link-padding-md: 10px 0
$nav-link-margin-md: auto

$navbar-social-icons-font-size-md: 20px
$navbar-social-icons-color-md: #ffffff

//navbar lg (laptops)
$navbar-height-lg: auto
$navbar-padding-lg: 10px
$navbar-nav-height-lg: auto
$nav-link-font-size-lg: 20px
$nav-link-width-lg: 130px
$nav-link-padding-lg: 10px auto
$nav-link-margin-lg: auto

$navbar-social-icons-font-size-lg: 20px
$navbar-social-icons-color-lg: #ffffff

//navbar xl (desktops)
$navbar-height-xl: auto
$navbar-padding-xl: 0
$navbar-nav-height-xl: auto
$nav-link-font-size-xl: 1.6em
$nav-link-width-xl: 100%
$nav-link-padding-xl: 10px auto
$nav-link-margin-xl: 0 10px

$navbar-social-icons-font-size-xl: 30px
$navbar-social-icons-color-xl: #ffffff



// SECTION
$o-section-container-max-width: 100%
$o-section-container-margin: 0 auto
$o-section-container-padding: 40px
$o-section-container-padding-sm: 60px
$o-section-container-padding-md: 60px
$o-section-container-padding-lg: 60px
$o-section-container-padding-xl:  60px 120px
//section - titulo fuentes
$o-section-title-font-family: 'Anton', sans-serif
$o-section-title-font-weight: 200
//section -  colores
$o-section-container-background-color: transparent
$o-section__h1-color: #ffffff
$o-section__h2-color: #ffffff
$o-section__h3-color: #ffffff
$o-section__h4-color: #ffffff
$o-section__h5-color: #ffffff
$o-section__h6-color: #ffffff
// titulos - tamaño fuente
$o-section__h1-font-size: 80px
$o-section__h2-font-size: 50px
$o-section__h3-font-size: 30px
$o-section__h4-font-size: 20px
$o-section__h5-font-size: 1rem
$o-section__h6-font-size: auto
// titulos - Ancho fuente
$o-section__h1-font-weight: 600
$o-section__h2-font-weight: 600
$o-section__h3-font-weight: 600
$o-section__h4-font-weight: 600
$o-section__h5-font-weight: 600
$o-section__h6-font-weight: 600
// parrafos - tamaño de fuente
$o-section__paragraph-font-size: 1.1em
// parrafos - color
$o-section__paragraph-color: #ffffff


//============================= CARDS ============================//
$o-card-background-color: $s-color-theme-primary
$o-card-margin: auto
$o-card-padding: 0
$o-card__title-color: #ffffff55
$card-text-color: #ffffff
$card-social-icons-color: #ffffff
$o-card-text-align: center
$s-card-title-size: 30px

// Cards - xs
$o-card-width: 90%
$o-card-min-height: auto
$o-card__text-padding: 1.25rem
// Cards - sm
$o-card-width-sm: 90%
$o-card-min-height-sm: auto
$o-card__text-padding-sm: 20px
// Cards - md
$o-card-width-md: 100%
$o-card-min-height-md: auto
$o-card__text-padding-md: 1.25rem
// Cards - lg
$o-card-width-lg: 100%
$o-card-min-height-lg: auto
$o-card__text-padding-lg: 1.25rem
// Cards - xl
$o-card-width-xl: 100%
$o-card-min-height-xl: 500px
$o-card__text-padding-xl: 2.5rem
// Cards - image
$card-img-top-width: 150px
$card-img-top-height: 150px
$card-img-top-border-radius: 0

