@import 'Settings/s-variables'
@import 'Settings/s-colors'
@import 'Elements/e-tags'
@import 'Objects/o-buttons'
@import 'Objects/o-section'
@import 'Objects/o-line'
@import 'Objects/o-general-clases'
@import 'Components/c-navbar'
@import 'Components/c-welcome'
@import 'Components/c-portafolio'
@import 'Components/c-card'





/*===================== COMPONENT =====================*/




.bloque-background
    width: 100%
    height: 3.75rem
    display: flex 
    align-items: center
    justify-content: center
    padding: 1.25rem
    color: #ffffff
    font-size: 1.125rem


.fuente-3
    font-family: 'Lato', sans-serif
    font-family: 'Titillium Web', sans-serif
    font-weight: 600
    letter-spacing: .1em


input, textarea 
    background-color: $s-color-theme-primary
    color: #ffffff
    border: none
input:focus, textarea:focus
    border-bottom: 3px solid $s-color-theme-tertiary
textarea 
    min-height: 200px
    max-height: 200px

.copyright-logo
    width: 160px


    
