@import 'settings/s-variables'
@import 'settings/s-colors'



/*===================== GENERIC =====================*/

*
    margin: 0
    padding: 0
    box-sizing: border-box

/*===================== ELEMENTS =====================*/

body
    background-color: $s-body-background-color
    font-family: 'Lato', sans-serif
    font-family: 'Titillium Web', sans-serif

main 
    max-width: 100%
    margin: $e-main-margin-top auto auto
    background-color: $e-main-background-color

img 
    width: 100%
    height: 100%
    object-fit: cover

// Section

.o-section
    &-container
        // border-radius: 20px 
        max-width: $o-section-container-max-width
        margin: $o-section-container-margin
        padding: $o-section-container-padding
        // background-color: $o-section-container-background-color
        @media screen and (min-width: 576px)
            padding: $o-section-container-padding-sm
        @media screen and (min-width: 768px)
            padding: $o-section-container-padding-md
        @media screen and (min-width: 1024px)
            padding: $o-section-container-padding-lg
        @media screen and (min-width: 1280px)
            padding: $o-section-container-padding-xl

    &__h1
        font-size: $o-section__h1-font-size
        color: $o-section__h1-color
        font-weight: $o-section-title-font-weight
        // font-family: $o-section-title-font-family

    &__h2
        font-size: $o-section__h2-font-size
        color: $o-section__h2-color
        font-weight: $o-section-title-font-weight
        // font-family: $o-section-title-font-family


    &__h3
        font-size: $o-section__h3-font-size
        color: $o-section__h3-color
        font-weight: $o-section-title-font-weight
        // font-family: $o-section-title-font-family


    &__h4
        font-size: $o-section__h4-font-size
        color: $o-section__h4-color
        font-weight: $o-section-title-font-weight
        // font-family: $o-section-title-font-family


    &__h5
        font-size: $o-section__h5-font-size
        color: $o-section__h5-color
        font-weight: $o-section-title-font-weight
        // font-family: $o-section-title-font-family


    &__h6
        font-size: $o-section__h6-font-size
        color: $o-section__h6-color
        font-weight: $o-section-title-font-weight
        // font-family: $o-section-title-font-family


    &__paragraph
        font-size: $o-section__paragraph-font-size
        color: $o-section__paragraph-color
        // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

.o-line
    height: 0.25rem
    margin: 0.625rem auto 1.25rem 0
    transform: skew(45deg)

.avatar-img
    width: $card-img-top-width
    height: $card-img-top-height
    border-radius: $card-img-top-border-radius
    margin: auto

.o-cuadrado
    width: 10rem
    height: 10rem
    color: #ffffff
    display: flex
    align-items: center
    justify-content: center
    font-size: 1rem
    text-align: center

.title-description
    font-size: 0.875rem

/*===================== COMPONENT =====================*/

/* Navbar */
.navbar
    background-color: $navbar-background-color
    padding: $navbar-padding
    font-family: 'Anton', sans-serif
    @media screen and (min-width: 576px)
        height: $navbar-height-sm
        padding: $navbar-padding-sm
    @media screen and (min-width: 768px)
        height: $navbar-height-md
        padding: $navbar-padding-md
    @media screen and (min-width: 1024px)
        height: $navbar-height-lg
        padding: $navbar-padding-lg
    @media screen and (min-width: 1280px)
        height: $navbar-height-xl
        padding: $navbar-padding-xl
    &-brand 
        color: $nav-link-color
        font-size: 1.25rem
    &-toggler
        color: $nav-toggler-color
    &-nav
        background-color: $navbar-nav-background-color
        height: $navbar-nav-height
        display: flex
        align-items: center
        justify-content: center
        margin: auto
        @media screen and (min-width: 576px)
            height: $navbar-nav-height-sm
            padding: $navbar-padding-sm
        @media screen and (min-width: 768px)
            height: $navbar-nav-height-md
            padding: $navbar-padding-md
        @media screen and (min-width: 1024px)
            height: $navbar-nav-height-lg
            padding: $navbar-padding-lg
        @media screen and (min-width: 1280px)
            height: $navbar-nav-height-xl
            padding: $navbar-padding-xl
.nav-item 
    margin: auto
    text-align: center
a.active
    border-bottom: 0.125rem solid yellow
    
.nav-link
    color: $nav-link-color
    font-size: $nav-link-font-size
    width: $nav-link-width
    padding: $nav-link-padding
    margin: $nav-link-margin
    text-align: center
    @media screen and (min-width: 576px)
        width: $nav-link-width-sm
        padding: $nav-link-padding-sm
        margin: $nav-link-margin-sm
        font-size: $nav-link-font-size-sm
    @media screen and (min-width: 768px)
        width: $nav-link-width-md
        padding: $nav-link-padding-md
        margin: $nav-link-margin-md
        font-size: $nav-link-font-size-md
    @media screen and (min-width: 1024px)
        width: $nav-link-width-lg
        padding: $nav-link-padding-lg
        margin: $nav-link-margin-lg
        font-size: $nav-link-font-size-lg
    @media screen and (min-width: 1280px)
        width: $nav-link-width-xl
        padding: $nav-link-padding-xl
        margin: $nav-link-margin-xl
        font-size: $nav-link-font-size-xl
    &:hover
        color: $nav-link-color
        background-color: lighten($navbar-nav-background-color, 20%)

/* Card */
.card 
    width: $o-card-width
    height: $o-card-min-height
    margin: $o-card-margin
    display: flex
    align-items: center
    justify-content: center
    padding: $o-card-padding
    background-color: $o-card-background-color
    text-align: $o-card-text-align
    @media screen and (min-width: 576px)
        width: $o-card-width-sm
        height: $o-card-min-height-sm
    @media screen and (min-width: 768px)
        width: $o-card-width-md
        height: $o-card-min-height-md
    @media screen and (min-width: 1024px)
        width: $o-card-width-lg
        height: $o-card-min-height-lg
    @media screen and (min-width: 1280px)
        width: $o-card-width-xl
        height: $o-card-min-height-xl
    &__title
        color: #ffffff
        font-size: $s-card-title-size
        margin: 0.625rem
    &__text 
        color: $card-text-color
        text-align: justify
        margin-top: 1.875rem
        padding: $o-card__text-padding
        @media screen and (min-width: 576px)
            padding: $o-card__text-padding-sm
        @media screen and (min-width: 768px)
            padding: $o-card__text-padding-md
        @media screen and (min-width: 1024px)
            padding: $o-card__text-padding-lg
        @media screen and (min-width: 1280px)
            padding: $o-card__text-padding-xl
    &__social-icons
        color: $card-social-icons-color
    &-img-top
        width: $card-img-top-width
        height: $card-img-top-height
        border-radius: $card-img-top-border-radius
        margin: auto
    &__img
        width: auto
        height: 500px
        overflow: hidden


/* Carousel */ 
.carousel
    width: $carousel-width
    height: $carousel-height
.carousel-inner
    width: $carousel-width
    height: $carousel-height
    display: flex
    align-items: center
    justify-content: center
.carousel-item
    width: $carousel-width
    height: $carousel-height
    margin-right: $carousel-item-margin-right
    
.carousel__img
    width: $carousel__img-width
    height: $carousel__img-height

.bloque-background
    width: 100%
    height: 3.75rem
    display: flex 
    align-items: center
    justify-content: center
    padding: 1.25rem
    color: #ffffff
    font-size: 1.125rem


.fuente-3
    font-family: 'Lato', sans-serif
    font-family: 'Titillium Web', sans-serif
    font-weight: 600
    letter-spacing: .1em


input, textarea 
    background-color: $s-color-theme-primary
    color: #ffffff
    border: none
input:focus, textarea:focus
    border-bottom: 3px solid $s-color-theme-tertiary
textarea 
    min-height: 200px
    max-height: 200px
    